@model IEnumerable<Laptop_Ecommerce_Shop.Order>

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Orders</title>
    <style>
    </style>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/bootstrap.min.css">

    <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/assets/js/quantity.js"></script>

</head>
<body class="p-top-40" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="100" onload="disabledBtnProceed()">
    <!--Show orders section-->
    <section class="p-top-80 p-bottom-80">
        <!--Container-->
        <div class="container clearfix text-center justify-content-center">
            <div class="row">
                <div class="col-md-12 ">
                    <!-- Widget -->
                    <div class="widget">
                        <!-- Shopping Cart Div -->
                        <div class="row justify-content-center text-center" id="DivShoppingCart">
                            <div class="col-md-12">
                                <div class="section-content bg-white">
                                    <div class="p-bottom-20">
                                        <span class="subheading">
                                            The
                                        </span>
                                        <h2>
                                            Orders
                                        </h2>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row mb-0 text-center">
                                                <div class="col-md-4 themed-grid-col text-muted"><h6>Order Date</h6></div>
                                                <div class="col-md-4 themed-grid-col text-muted"><h6>Total Order Price</h6></div>
                                                <div class="col-md-4 themed-grid-col text-muted"><h6>Details</h6></div>
                                            </div>
                                            <hr class="">
                                            <div class="Customeritems">
                                                @foreach (var item in Model)
                                                {
                                                    <div class="row mb-3 text-center">

                                                        <div class="col-md-4 themed-grid-col text-muted">
                                                            <span class="text-muted">@item.OrderDate</span>
                                                        </div>
                                                        @{
                                                            var SaudiCulture = new System.Globalization.CultureInfo("ar-SA");
                                                            <div class="col-md-4 themed-grid-col text-muted">
                                                                <span class="text-muted Quantity">SAR @string.Format(SaudiCulture, "{0:N}", item.TotalOrderPrice) </span>
                                                            </div>
                                                        }
                                                        <a href="/Customer/CustomerOrder/@item.OrderID" style="padding: 0px 3px !important;"> <img class="icon-cart" src="~/assets/img/icon/maximize.png" /></a>
                                                    </div>
                                                    <hr>
                                                }


                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!--End widget-->

                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->

    </section><!--End Show orders section-->

</body>
</html>