@model Laptop_Ecommerce_Shop.Models.CustomerLoginModel
@{
    Layout = "~/Views/Shared/_LayoutWithoutHeader.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body class="" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="100">
    <section class="parallax-bg" style="background-image: url(../assets/img/bg-.jpg)" data-stellar-background-ratio="0.5">
        <!-- Section Title -->
        <div class="container" style="height: 100vh;">
            <div class="intro-content white-color text-center vertical-section">
                <div class="vertical-content">
                    <div class="sub-container glass-effect">
                        <h4 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.8s">Welcome to aroma</h4>
                        <h1 class="wow zoomIn m-bottom-20" data-wow-duration="1s" data-wow-delay="0.6s" style="color:#f88d5d !important">E-commerce Laptops</h1>

                        <div>
                            @using (Html.BeginForm("CustomerLogin", "Home", FormMethod.Post, new { @class = "needs-validation", @novalidate = "", @enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-sm-12 contact-form-item wow zoomIn">
                                    <label for="Email" class="form-label">Email</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "", type = "email" } })
                                    <div class="invalid-feedback">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                                <div class="col-sm-12 contact-form-item wow zoomIn">
                                    <label for="password" class="form-label">Password</label>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "", type = "password" } })
                                    <div class="invalid-feedback">
                                        Please enter the password.
                                    </div>
                                </div>
                                <div class="col-sm-12 contact-form-item wow zoomIn text-left">
                                    @Html.CheckBoxFor(model => model.RememberMe, new { htmlAttributes = new { @class = "form-control chkBox" } })
                                    <label class="remember-me"> Remember Me </label>
                                </div>                              
                                <div class="col-sm-12 contact-form-item">
                                    <button class="send_message btn btn-main btn-theme wow fadeInUp" onclick="SubmitForm()" type="submit">Login</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>
